body {
    font-family: "Playfair Display",  Georgia, serif; /* La famiglia del font */
    font-size: 24px; /* La dimensione del font principale nei tag <p></p> */
    background-color: #ffffff; /* Il colore dello sfondo della pagina web */
    color: #000000; /* Il colore del testo */ 
}
h1 {
    color: #a80000; /* Il colore dell'intestazione */
    font-size: 24px; /* La dimensione del font dell'intestazione */
    font-family: Georgia, serif; /* La famiglia del font usata nell'intestazione */
}

ol {
    color: #ff0000; /* Il colore del testo delle liste ordinate */
}

ul {
    color: #ff0000; /* Il colore del testo delle liste non ordinate */
}
